<div class="row">
  {% comment %} Group projects by years {% endcomment %}
  {% assign project_years = site.projects | group_by: "year" | sort: "name" | reverse %}
  {% for year in project_years %}
    {% comment %} Sort projects of some year by month {% endcomment %}
    {% assign sorted_projects = year.items | sort: "month" | reverse %}
    {% for project in sorted_projects %}
      {% assign name = project.url | remove: '/projects/' %}
      {% assign image = site.static_files | where: "image", true | where_exp: "item", "item.path contains name" | first %}
      <article class="col-{{ include.col }} col-{{ include.col | times: 2 }}-xsmall work-item">
        <a href="{{ project.url }}" class="image fit thumb"><img src="{{ image.path }}" alt="{{ project.title }}" /></a>
        <h3>{{ project.title }}</h3>
        <p>{{ project.platform }} | {{ project.year }}</p>
        <p>{{ project.excerpt }}</p>
      </article>
    {% endfor %}
  {% endfor %}
</div>
